<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="4" class="auto">
        <ion-img src="../../assets/icon/Red.jpg" class="img"></ion-img
      ></ion-col>
      <ion-col size="4" class="ion-text-center ion-align-self-center">
        <ion-title class="white-color">Minimos:</ion-title>
        <ion-label class="white-text">
          Requerido um sistema operacional de 64 bits<br /><br />
          <b>SO:</b> Windows 7 - Service Pack 1 (6.1.7601)<br />
          <b>Processador:</b> Intel Core i5-2500K ou AMD FX-6300 Memória<br />
          <b>RAM:</b> 8 GB <br />
          <b>Placa de Vídeo:</b> Nvidia GeForce GTX 770 2GB ou AMD Radeon R9 280
          3GB<br />
          <b>Armazenamento:</b> 150 GB
        </ion-label>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-align-self-center">
        <ion-title class="white-color">Recomendados:</ion-title>
        <ion-label class="white-text">
          Requerido um sistema operacional de 64 bits<br /><br />
          <b>SO:</b> Windows 10 - April 2018 Update (v1803)<br />
          <b>Processador:</b> Intel® Core™ i7-4770K / AMD Ryzen 5 1500X<br />
          <b>Memória:</b> 12 GB de RAM <br />
          <b>Placa de vídeo:</b> Nvidia GeForce GTX 1060 6GB / AMD Radeon RX
          480<br />
          <b>4GB Armazenamento:</b> 150 GB de espaço disponível
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
