.text-center{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  margin-top: 5%;
}

.card{
  height: 200px;
  width: 170px;
  cursor: pointer;
}

.between{
  display: flex;
  justify-content: center;
  margin: 0;
}