<ion-header>
  <ion-toolbar>
    <ion-title>
      yourcomputer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-text-center text-center">ESCOLHA SEU JOGO !</ion-title>
  <ion-card class="between ion-padding">
    <ion-img *ngFor="let img of firstLine" [src]="img.image" class="card ion-margin"></ion-img>
   </ion-card>

   <ion-card class="between">
    <ion-img *ngFor="let img of secondLine" [src]="img.image" class="card ion-margin"></ion-img>
   </ion-card>
</ion-content>
